body{
    background-color:  rgb(78, 0, 90);
    color:white;
    font-family: "consolas",sans-serif,arial; 
/* font faily has more then 2 fonts because if a font is not supported by the web brower it uses the next font*/
overflow: hidden;
/*overfolw tag makes css responsive*/
display:flex;
flex-direction: column;
align-items: center;/*vetical*/
justify-content: center;/*horizontal*/
margin:0;
height:70vh;/*viewpot height*/

}
.text{
    font-size: 25px;
}
.stick-man{
    display: flex;
    align-items: left;

}
.singleplayer-container{
    position: relative;
    height: 350px; 
    margin:auto;
    height: 400px;
    width: 350px;
    
}
.figure-parts{
    display: none;
}
.wrong-letters-container{
position: absolute;
bottom: 60%;
left: 80%;
display: flex;
flex-direction: column;
text-align: right;
}
.wrong-letters-container p{
    margin: 0 0 5px;
}
.wrong-letters-container span{
    font-size: 24px;
}
.word{
    display:flex;
    position:absolute;

}
.letter {
    border-bottom: 3px solid black;
    display: inline-flex;
    font-size: 30px;
    align-items: center ;
    justify-content: center;/*horizontal*/
    margin: 0 3px;
    height: 50px;
    width: 20px;
}
.popup-messages{
    background-color: gray;
    position: fixed;
   display: none;
    align-items: center;
    justify-content: center;
}
.popup{
    background-color: rgb(0, 0, 0);
    border: 3px solid black;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.popup button{
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top:20px;
    padding:15px;
    font-size: 15px;
}
 .popup button:active{
    font-weight: bold;
 }
 .notification-messages{
    background-color: rgba(0,0, 0,3);
    border-radius: 10px 10px 0 0;
    padding: 12px;
    position: absolute;
    bottom: -80px;
    transition: transform 0.3s ease-in-out;
 }
 .notification-messages p{
    margin:0;
 }
 .notification-messages.show{
    transform: translateY(-50px);
 }